POSTGRES_DB=supportflow
POSTGRES_USER=supportflow
POSTGRES_PASSWORD=change-this-before-start
SUPPORTFLOW_ENV=lite
SUPPORTFLOW_APP_PORT=8080
SUPPORTFLOW_MODEL_MODE=mock
SUPPORTFLOW_MAX_BODY_BYTES=1048576
SUPPORTFLOW_REQUEST_TIMEOUT=15s
SUPPORTFLOW_ALLOWED_ORIGIN=
SUPPORTFLOW_SESSION_TTL=30m
